@import "variables";

.home-completed-display{
  float: right;
  width: 320px;
  height: 100%;
  background-color: $grey;
  overflow-y: auto;
  overflow-x: hidden;
  .home-user{
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid $dark-grey;
    height: 9%;
    min-height: 60px;
  }
  // .home-user::after{
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: black;
  //   position: absolute;
  // }
  .home-user h1 {
    font-size: 16px;
  }
  .home-user h1:last-child {
    font-size: 24px;
    color: $light-background;
  }

  .home-user:last-of-type{
    border-bottom: none;
    margin-bottom: 10px;
  }
}
.home-completed-display > h1 {
  text-align: center;
  color: $white;
  height: 60px;
  font-size: 24px;
  padding: 5px;
  background-color: $light-background;
}