@import "variables";

.home > *{
  // margin: 10px;
}

.home {
  height: $body-height;
  // min-width: 1300px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
}

.home-challenge-container {
  float: left;
  width: calc(100% - 750px);
  cursor: pointer;
  height: 100%;
}



.home-challenge {
  height: calc(33.33% - 13.5px);
  width: 100%;
  background-color: $dark-grey;
  transform: translate(0px, 0px);
  transition: transform .3s ease;
  margin: 0 auto;
  margin-bottom: 20px;
}

.home-challenge-title{
  display: flex;
  width: 100%;
  background-color: $light-background;
  height: 60px;
}

.home-challenge-title h1{
  color: white;
  margin: auto 0;
  width: 100%;
  font-size: 28px;
  text-align: center;
  background-color: $light-background;
}

.home-challenge:hover {
  transform: translate(0px, -5px);
}

.challenge-top {
  height: 60%;
  overflow: hidden;
}

.gradient1 {
  background: #4D5CC8 linear-gradient(101.12deg, #9E4FE0 0%, #4D5CC8 100%);  
}

.gradient2 {
  background: #A445FF linear-gradient(136.51deg, #5599E8 0%, #9258FA 77.64%, #9951FC 86.04%, #9F4AFE 94.19%, #A445FF 100%);  
}

.gradient3 {
  background: #FF478B linear-gradient(55.93deg, #8525F1 0%, #FF478B 100%);
}

.challenge-bottom {
  height: 40%;
  background-color: $grey;
  overflow: hidden;  
}

.challenge-image {
  height: 60%;
  position: relative;
  top: 15%;
  left: 25px;
}

.image-container {
  position: absolute;
  height: 100%;
}

.challenge-header {
  height: 100px;
  padding: 20px 0px 0 10px;
  width: 65%;
  margin-right: 25px;
  display: flex;
  float: right;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-end;
}


.challenge-header h1 {
  text-align: center;
  color: $white;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
}

.challenge-header h2 {
  color: $white;
}

@media screen and (max-width: 1250px){
  .challenge-header h2 {
    display: none;
  }
  .challenge-header h1 {
    border-bottom: none;
  }
}
@media screen and (max-width: 1050px){
  .challenge-header {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .challenge-header h1 {
    font-size: 18px;
  }
  .challenge-bottom .challenge-tags {
    display: none;
  }
}


.home-welcome {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: left;
  margin-right: 10px;
  width: 410px;
  font-weight: 300;    
  height: 100%;
}

.home-welcome .home-user {
  width: 100%;
  height: 60px;
  min-height: 60px;
  margin-bottom: 10px;
}

.home-welcome .home-user .user-messages h1 {
  font-size: 25px;
  width: 130%;
}
.home-welcome .home-user img {
  margin: 0;
  margin-right: 10px;
}

.home-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: $white;
  width: 100%;
  min-height: 100px;
  height: 20%;
  margin-top: 10px;
  background-color: $lighter-background;
  // background-color: $grey;
}

.home-all-challenges {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1px;
  background-color: $light-background;
  transition: background-color .3s;
  height: 75px;
  width: 100%;
}

.home-all-challenges h1 {
  color: $white;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.home-all-challenges:hover {
  background-color: $really-dark-grey;
}  

