
.challenge
{
  font-size: 15px;
  width: 100%;
  height: calc(100% - 125px);
  padding-top: 10px;
}

.editor
{
  font-size: 16px;
  width: 50%;
  height: calc(100% - 50px);
  float: left;
}

.editor-footer
{
  clear: both;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #4b4b4b;
}

.ReactCodeMirror
{
  float: left;
  width: 100%;
  height: 100%;
}


.CodeMirror
{
  height: 100%;
}

.terminal
{
  width: calc(50% - 25px);
  background-color: rgba(0, 0, 0, .9);
  line-height: 150%;
  font-size: 16px;
  font-weight: 200;
  padding: 10px;
  color: #00dd00;
  float: left;
  margin: 0 0 0 25px;
  height: 100%;
  overflow: scroll;
}

.editor-button {
  font-weight: 200;
  margin: auto 10px;
  padding: 5px 30px;
}