.react-codemirror2
{
  float: left;
  width: 100%;
  height: 100%;
}

.CodeMirror
{  
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  /* letter-spacing: 0px; */
  height: 100%;
}

