/* line 3, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge {
  font-size: 15px;
  width: 100%;
  height: calc(100% - 90px);
  padding: 5px 0;
}

/* line 11, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.editor {
  font-size: 16px;
  width: 40%;
  height: calc(100% - 50px);
  float: left;
}

/* line 19, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.editor-footer {
  clear: both;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #4b4b4b;
}

/* line 29, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.editor-button {
  font-weight: 200;
  margin: auto 10px;
  padding: 5px 30px;
}

@media screen and (max-width: 500px) {
  /* line 35, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
  .editor-button {
    font-weight: 200;
    font-size: 10px;
    margin: auto 5px;
    padding: 5px 5px;
  }
}
/* line 42, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.right-side {
  float: left;
  width: calc(30% - 5px);
  height: 100%;
  margin: 0 0 0 5px;
}

/* line 49, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.left-side {
  float: left;
  width: calc(30% - 5px);
  height: 100%;
  margin-right: 5px;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -150%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* line 89, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-errors {
  position: absolute;
  right: 0;
  top: 140px;
  width: 300px;
  border-top: 5px solid #b61e1e;
  background: white;
  animation-name: slideInRight;
  animation-duration: 1s;
  z-index: 100;
}

/* line 101, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-errors li {
  width: 100%;
  padding: 20px;
  color: #b61e1e;
  border-bottom: 1px solid #b61e1e;
}

/* line 108, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-errors li:last-of-type {
  border-bottom: none;
}

/* line 112, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-success {
  position: absolute;
  right: 0;
  top: 70px;
  width: 300px;
  border-top: 5px solid #126112;
  background: white;
  animation-name: slideInRight;
  animation-duration: 1s;
  z-index: 100;
}

/* line 124, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-success li {
  width: 100%;
  padding: 20px;
  color: #126112;
  border-bottom: 1px solid #126112;
}

/* line 131, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.challenge-success li:last-of-type {
  border-bottom: none;
}

/* line 135, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.completion-modal-container {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  top: 50px;
  left: 0;
  bottom: 40px;
  right: 0;
  z-index: 10;
}

/* line 148, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.completion-modal {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  animation-name: slideInDown;
  animation-duration: 1s;
  width: 80%;
  height: 600px;
  padding: 15px;
  background-color: white;
}

/* line 160, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/challenge_workspace/challenge_workspace.scss */
.completion-modal h1 {
  font-size: 34px;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #5c5c5c;
}
