/* line 5, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/root.scss */
#root {
  height: 100%;
}

/* line 9, /Users/garretttongue/Documents/Fullstack/One-O-One/app/assets/stylesheets/root.scss */
.app {
  height: 100%;
  z-index: -100000;
}
