@import "variables";

.account-show{  
  background-color: $grey;
  width: calc(100%-20px);
  height: calc(#{$body-height} - 40px); 
  margin: 20px;
  padding: 20px;
  color: $light-background;
  overflow: hidden;
  // border: 1px solid $light-background;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}


.account-show h2 {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space:nowrap;  
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

.account-show h1 {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space:nowrap; 
  font-size: 24px;
  width: 60%;
}

.account-title {
  display: flex;
  align-items: center;  
  flex-direction: row;
  justify-content: space-around;
  text-transform: capitalize;
  height: 100px;
}

.account-title * {
  // padding-top: 5px;
  // padding-bottom: 20px;
  text-align: center;
}

.account-info,
.account-stats, 
.account-completed {
  margin: 10px;
  float: right;
  text-align: center;
  // background-color: $white;
  overflow: hidden;
}
.account-info h2,
.account-stats h2, 
.account-completed h2{
  margin: 10px auto;
  width: 50%;
  border-bottom: 2px solid $background;
}


.account-completed {
  width: calc(33% - 10px);
  height: calc(100% - 100px);
}

.account-stats{
  width: calc(66% - 30px);
  height: calc(100% - 220px);
}
.account-info{
  width: calc(66% - 30px);
  height: 100px;
}

.account-image {
  width: 100px;
}

.account-name {
  display: flex;
  align-content: center;
  align-items: center;
}

.account-title img {
  margin: 0;
  padding: 0;
}


.account-doughnut {
  float: left;
  width: 50%;
  height: 50%;
  overflow: none;
}
.account-line { 
  float: left;
  height: 50%;
  width: 50%;
  overflow: none;
}

.account-show canvas {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}