@import "variables";

.account-show{  
  background-color: $grey;
  width: calc(100%-20px);
  height: calc(#{$body-height} - 40px); 
  margin: 20px;
  padding: 20px;
  color: $light-background;
  overflow: hidden;
  // border: 1px solid $light-background;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}


.account-show h2 {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space:nowrap;  
  text-transform: capitalize;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.account-show h1 {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space:nowrap; 
  font-size: 24px;
  width: 60%;
}

.account-title {
  display: flex;
  float: left;
  align-items: center;  
  flex-direction: row;
  justify-content: space-around;
  text-transform: capitalize;
  height: 100px;
  width: calc(65% - 20px);
}

.account-title * {
  // padding-top: 5px;
  // padding-bottom: 20px;
  text-align: center;
}

.account-stats, 
.account-completed {
  margin: 10px;
  float: right;
  text-align: center;
  // background-color: $white;
  overflow: hidden;
}

.account-completed {
  width: calc(33% - 10px);
  height: calc(100% - 10px);
  background-color: $light-background;
  overflow-x: hidden;
  overflow-y: auto;
  // border: 1px solid $background;
}

.account-stats{
  width: calc(66% - 30px);
  height: calc(100% - 110px);
}
.account-info{
  width: calc(66% - 30px);
  height: 100px;
}

.account-image {
  width: 100px;
}

.account-name {
  display: flex;
  align-content: center;
  align-items: center;
}

.account-title img {
  margin: 0;
  padding: 0;
}


.account-doughnut {
  width: 75%;
  height: 75%;
  margin: auto auto;
  overflow: none;
}
.account-line { 
  height: 50%;
  width: 100%;
  overflow: none;
}

.account-show canvas {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.account-completed-title {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $background;
}

.account-completed-title h1{
  color: white;
  margin: 0 auto;
  border: none;
}
.account-complete-challenge {
  color: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  transition: background-color .3s;
  cursor: pointer;
  border-bottom: 1px solid $grey;
}
.account-complete-challenge h2 {
  font-size: 16px;
  width: 33.333%;
}
.account-complete-challenge:hover {
  background-color: $background;
}

.account-left {
  display: flex;
  float: left;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.account-right {
  display: flex;
  width: 50%;
  height: 100%;
  float: left;
}