@import "variables";

.challenge-index {
  width: 100%;
  height: $body-height;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.challenge-item {
  position: relative;
  flex-direction: column;
  margin: 0;
  width: calc(20% - 20px);
  height: 200px;
  background-color: $grey;
  // padding: 10px;
  border-bottom: 10px solid grey;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
  // background: #A445FF linear-gradient(136.51deg, #5599E8 0%, #9258FA 77.64%, #9951FC 86.04%, #9F4AFE 94.19%, #A445FF 100%);
  
  transition: background-color .5s, width .1s;
  // transition: opacity .1s, width .1s, height .1s, background-color .5s;
  margin: 10px;
  overflow: hidden;
}

.challenge-item:hover {
  cursor: pointer;
  background-color: $dark-grey;
}

.completed {
  border-bottom: 10px solid $passed;
}

.incomplete {
  border-bottom: 10px solid rgb(209, 132, 9);
}

@media screen and (max-width: 1300px){
  .challenge-item {
    width: calc(33.33% - 20px);
  }
}
@media screen and (max-width: 750px){
  .challenge-item {
    width: calc(100% - 20px);
  }
}

.challenge-title {
  width: 100%;
  background-color: $item-header;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.challenge-title p {
  margin: auto 0;
}  

.challenge-language {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  text-transform: capitalize;
  // box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);  
  background-color: $javascript;
}

.challenge-tags {
  display: flex;
  font-size: 12px;  
  position: absolute;
  bottom: 0;
  right: 0;
}

.challenge-tags > * {
  margin-bottom: 10px;
  margin-right: 10px;
}

.challenge-tag {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: $tag-color;
}

.challenge-search-container {
  width: 100%;
  padding: 10px;
}
.challenge-search{
  display: block;
  font-size: 20px;
  font-weight: 300;
  width: 350px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  border: none;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);  
}

.challenge-hide {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
  overflow: hidden;
}

.challenge-description{
  padding: 10px;
  overflow: hidden;
  font-size: 18px;
  color: $background;
  text-overflow: ellipsis;
}