@import "variables";

.nav-bar {
  color: $background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: white;
  font-size: 20px;
  font-weight: 300;
  // box-shadow: 1px 1px 2px $light-grey;
  border-bottom: 1px solid $dark-background;
}

.title, 
.session-display {
  display: flex;
  margin: auto 25px;
  height: 30px;
}

.nav-links,
.nav-bar p {
  margin: auto 5px;
  padding: 5px;
  text-decoration: none;
  transition: background-color .5s;
  border-radius: 3px;
}

.nav-links {
  font-weight: 500;  
}

.nav-links:hover {
  background-color: rgba(204, 204, 204, 0.39);
}  

.nav-bar-title1,
.nav-bar-title2 {
  margin: auto 5px;
  padding: 5px;
}

.nav-bar-title1 {
  margin-right: 0px;
  border: 2px solid $background;
}

.nav-bar-title2 {
  margin-left: 0px;
  border: 2px solid $background;  
  background-color: $background;
  color: white;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

button {
  background-color: $background;
  letter-spacing: 1px;
  border: none;
  border-style: none;
  color: white;
  font-weight: 300;
  font-size: 20px;
  border-radius: 0px;
  text-align: center;
  padding: 5px 15px;
  transition: background-color .5s;
  cursor: pointer;  
  // padding: 20px;
}

button:hover {
  background-color: $dark-background;
}  

.hamburger {
  cursor: pointer;
  margin: auto 0;
  margin-right: 10px;
  transition: transform .5s;
  z-index: 200;
}

.hamburger-menu
{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  top: 0px;
  background: $dark-background;
  padding-top: 100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform: translate(-350px, 0);
  transition: transform 0.5s;
  z-index: 100;
}

.hamburger-link{
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  padding: 25px 0;
  width: 80%;
  border-bottom: 1px solid $background;
  font-weight: 400;
  color: white;
  transition: color .5s;
}

.hamburger-link:hover{
  color: $background;
}

.hamburger-check {
  width: 50px; 
  height: 50px;
  display: block;
}