@import "variables";

.session-div 
{
  // background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  top: $header-size;
  left: 0;
  width: 100%;
  height: calc(100% - #{$header-size});
  margin: auto auto;
}

.session-form
{
  background-color: white;
  color: black;
  margin: auto 0;
  display: flex;
  height: 350px;
  width: 350px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 1px 1px 5px black;
  z-index: 0;
}

.session-form h2 {
  font-size: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  text-align: center;
  width: 80%;
}

.session-form label {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  overflow: hidden;  
}

.session-form input {
  font-size: 14px;
  background-color: white;
  border: 1px solid #cdcdcd;
  width: 70%;
  padding: 10px 10px;
  text-align: center;
}

.session-form button {
  height: 50px;
}

.errors {
  text-align: center;
  color: red;
}