// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {
  height: 100%;
}

.app {
  height: 100%;
  z-index: -100000;
}
