@import "variables";

.session-div 
{
  // background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - #{$header-size});
  margin: auto auto;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-150%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.signup-div 
{
  // background-color: red;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - #{$header-size});
  margin: auto auto;
}

.signup-info {
  z-index: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  height: 525px;
  width: 1000px;
  // background-color: white;
  background-image: image-url("signup.png");
  background-size: cover;
  
}

.session-div::after,
.signup-div::after {
  content: "";
  background-image: image-url("background.png");
  object-fit: cover;
  opacity: .3;  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.session-form,
.signup-form
{
  background-color: white;
  color: black;
  margin: auto 0;
  display: flex;
  height: 450px;
  width: 450px;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 1px 0px 2px black;
  z-index: 0;
}

.signup-form {
  animation-name: slideInLeft;
  animation-duration: 1.5s;
}

.session-form h2,
.signup-form h2{
  font-size: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  text-align: center;
  width: 80%;
}

.session-form label,
.signup-form label {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  overflow: hidden;  
}

.session-form input,
.signup-form input {
  font-size: 14px;
  background-color: white;
  border: 1px solid #cdcdcd;
  width: 70%;
  padding: 10px 10px;
  text-align: center;
}

.session-form button,
.signup-form button{
  height: 50px;
}

.errors {
  text-align: center;
  color: red;
}