@import "variables";

.tests{
  width: 100%;
  margin-top: 5px;
  height: calc(50%);
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
  border: 1px solid $light-background; 
  overflow: auto;
}

.test-index{
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid $light-background;
  margin: 0 auto;

}
.test-index i {
  float: right;
}

.fail{
  color: $failed;
}

.success{
  color: $passed;
}