// $background: #55748b;
$light-background: #324452;
$background: #2a343b;
$header-size: 75px;
$dark-grey: #a1a1a1;
$really-dark-grey: rgb(92, 92, 92);
$grey: #dadada;
$item-header: $dark-grey;
$tag-color: #3E606F;
$passed: #258025;
$failed: #b61e1e;
$white: white;
$body-height: calc(100% - 100px);
$content-header: #4e1414;

$javascript: #ecbe49;

//GREEN #7DBEA5
//TAN #F1E0B1
//ORANGE1 #EE9D31
//ORANGE2 #F26C1A
//BROWN #5A392B

$button: #193441;